<!-- Page container -->
	<div class="page-container animated fadeIn">

		<!-- Page content -->
		<div class="page-content animated fadeIn">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-fixed sidebar-default animated fadeIn">
				<my-sidebar> </my-sidebar>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper animated fadeIn">

				<!-- Content area -->
				<div class="content animated fadeIn">
					<my-calendar> </my-calendar>
					<my-datatable> </my-datatable>

					<!-- Footer -->
					<div class="footer text-muted">
						&copy; 2017. <a href="auth" class="text-primary">Clockwise</a> by <a href="" class="text-primary" target="_blank">Amrit Thind</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

			<export-modal> </export-modal>

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->