<div class="page-container" ng-controller="termController as ctrl">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper valign-middle">

            <!-- Content area -->
            <div class="content">
                <div class="container">

                    <div class="col-md-2"></div>

                    <div class="col-md-4 mr-15">
                        <!-- Horizontal form -->
                        <div class="panel panel-flat animated fadeInDown">
                            <div class="panel-heading">
                                <h5 class="panel-title">New Timetable</h5>
                                {{term.val}} {{thing}}
                            </div>

                            <div class="panel-body">

                                <div class="form-group">
                                    <label>Select a term you want to create a new timetable for.</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="icon-calendar2"></i>
                                        </div>

                                        <select class="bootstrap-select" data-width="100%">
												<option value="201705">Summer</option>
												<option value="201709">Fall</option>
												<option value="201801">Spring</option>
											</select>
                                    </div>
                                </div>

                                <div style="text-align: right;">
                                    <button type="button" class="btn btn-primary">Create</button>
                                </div>

                            </div>
                        </div>
                        <!-- /horizotal form -->
                    </div>


                    <div class="col-md-4 ml-15">

                        <!-- Horizontal form -->
                        <div class="panel panel-flat animated fadeInDown">
                            <div class="panel-heading">
                                <h5 class="panel-title">Saved Timetable</h5>
                            </div>

                            <div class="panel-body">

                                <div class="form-group">
                                    <label>Continue working on a previously saved timetable.</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="icon-calendar2"></i>
                                        </div>

                                        <select class="bootstrap-select" data-width="100%">
												<option value="201705">My awesome thing</option>
												<option value="201709">Fall</option>
												<option value="201801">Spring</option>
											</select>
                                    </div>
                                </div>

                                <div style="text-align: right;">
                                    <button type="button" class="btn btn-primary">Continue</button>
                                </div>
                            </div>
                        </div>
                        <!-- /horizotal form -->

                    </div>

                    <div class="col-md-2"></div>



                </div>

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->