<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors.css" rel="stylesheet" type="text/css">
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->

    {{!--
    <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script> --}}
    <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
    {{!--
    <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script> --}}
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>

    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/form_bootstrap_select.js"></script>

    <!-- /theme JS files -->

</head>

<body>

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content pb-20">
                    <div class="row ">
                        <div class="col-md-4">

                            <!-- Horizontal form -->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h5 class="panel-title">New Timetable</h5>
                                </div>

                                <div class="panel-body">

                                    <div class="form-group">
                                        <label>Select the term you would like to create a new timetable for.</label>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="icon-calendar2"></i>
                                            </div>

                                            <select class="bootstrap-select" data-width="100%">
												<option value="201705">Summer</option>
												<option value="201709">Fall</option>
												<option value="201801">Spring</option>
											</select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /horizotal form -->

                        </div>

                        <div class="col-md-4">

                            <!-- Horizontal form -->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Saved Timetable</h5>
                                </div>

                                <div class="panel-body">
                                    <p>Continue working on a previously saved timetable.</p>
                                </div>
                            </div>
                            <!-- /horizotal form -->

                        </div>


                    </div>

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>

</html>