<div ng-controller="datatableController as ctrl">
    <div class="panel panel-flat" ng-class="ctrl.activeCourse[0].alphaColor">
        <table datatable="ng" dt-options="ctrl.dtOptions" dt-column-defs="ctrl.dtColumnDefs" class="row-border table table-hover">
            <thead>
                <tr>
                    <th>CRN</th>
                    <th>Section</th>
                    <th>Days</th>
                    <th>Time</th>
                    <th>Capacity</th>
                    <th>Remaining</th>
                    <th>Location</th>
                    <th>Instructor</th>

                </tr>
            </thead>
            <tbody ng-repeat="listOfSections in ctrl.sectionList">

                <tr class="pointer-hover" ng-repeat="section in listOfSections" ng-class="{'table-row-selected': ctrl.isSelected(section.crn)}" ng-click="ctrl.newEvent(section)"
                    ng-mouseenter="ctrl.ShadowEvent(true,section)" ng-mouseleave="ctrl.ShadowEvent(flase,section)">
                    <td>{{ section.crn }}</td>
                    <td>{{ section.section }}</td>
                    <td>{{ section.days }}</td>
                    <td>{{ section.start_time }} - {{section.end_time}}</td>
                    <td>{{ section.capacity }}</td>
                    <td>{{ section.remaining }}</td>
                    <td>{{ section.location}}</td>
                    <td>{{ section.instructor }}</td>                
                </tr>
            </tbody>
        </table>
    </div>
</div>