<div ng-controller="sidebarController">

  <!-- Sidebar tabs -->
  <div class="sidebar-content animated fadeIn">
    <div class="sidebar-category">
      <div class="tabbable sortable">
        <ul class="nav nav-lg nav-tabs nav-justified">
          <li class="active">
            <a href="#components-tab" data-toggle="tab">
          <i class="icon-search4"></i>
          <span class="visible-xs-inline-block position-right">Search</span>
        </a>
          </li>

          <li>
            <a href="#forms-tab" data-toggle="tab">
          <i class="icon-menu6"></i>
          <span class="visible-xs-inline-block position-right">Saved Schedules</span>
        </a>
          </li>
        </ul>

        <!-- Tab content-->
        <div class="tab-content">
          <!-- 1st tab -->
          <div class="tab-pane active no-padding" id="components-tab">

            <div class="category-title">
              <span class="text-cap"> Search Classes <mark>{{term.season}} {{term.year}}</mark></span>
            </div>
            <!-- Search -->
            <div class="category-content">

              <form action="#">
                <div class="has-feedback has-feedback-left" id="scrollable-dropdown-menu">
                  <input type="text" ng-model="selectedCourse" placeholder="e.g. ENGL 135" typeahead-show-hint="true" uib-typeahead="course as course.name for course in courses | filter:{name: $viewValue} | limitTo:8"
                    class="typeahead form-control" typeahead-on-select="addCourse($item); selectedCourse='';" my-autofocus>
                  <div class="form-control-feedback">
                    <i class="icon-search4 text-size-base"></i>
                  </div>
                </div>
              </form>
            </div>

            <div class="sidebar-category">
              <div class="category-title">
                <span class="text-cap text-light">Selected Courses</span>
              </div>

              <div class="category-content">
                <ul class="media-list">
                  <li class="media pointer-hover" ng-repeat="course in courseList" ng-click="updateActive(course.courseID)">

                    <div class="media-left">
                      <a class="btn btn-rounded btn-icon btn-sm" ng-style="{'color': course.color, 'border-color': course.color}">
                        <i ng-class="getIcon(course.name)"></i>
                        </a>
                    </div>

                    <div class="media-body">
                      <span class="">{{course.name}}</span>
                      <span class="text-size-mini text-muted display-block">{{course.title}}</span>
                    </div>

                    <div class="media-right media-middle">
                      <ul class="icons-list text-nowrap">
                        <li>
                          <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a> Course Description</a></li>
                            <li class="divider"></li>
                            <li ng-click="removeCourse(course.courseID)"><a class="text-danger"> Remove</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>

                  </li>
                </ul>
              </div>
            </div>

            <div class="sidebar-category sidebar-bottom">
              <div class="category-title">
              </div>
              <div class="category-content text-center">

                <button type="button" class="btn bg-danger btn-float-xs btn-rounded mr-5 mt-20" uib-popover="Clear all" popover-trigger="'mouseenter'"
                  popover-placement="top" ng-click="clearAll()"><i class="icon-cross"></i></button>

                <button type="button" class="btn bg-slate btn-float btn-float-lg btn-rounded" uib-popover="Generate schedule" popover-trigger="'mouseenter'"
                  popover-placement="top" ng-click="generateSchedule()"><i class="icon-make-group"></i></button>

                <button type="button" class="btn bg-success btn-float-xs btn-rounded ml-5 mt-20" uib-popover="Save" popover-trigger="'mouseenter'"
                  popover-placement="top" ng-click="openSaveModal()"><i class='icon-folder-download'></i></button>

                <div class="row mt-5">
                  <div class="col-xs-4">
                  </div>

                  <div class="col-xs-4">
                    <button type="button" class="btn bg-primary btn-float-xs btn-rounded" uib-popover="Finished!" popover-trigger="'mouseenter'"
                      popover-placement="top" ng-click="openFinishedModal()"><i class="icon-printer"></i></button>
                  </div>

                  <div class="col-xs-4">

                  </div>
                </div>

              </div>
            </div>

          </div>
          <!-- /1st tab -->

          <!-- 2nd tab -->
          <div class="tab-pane no-padding" id="forms-tab">
            <!-- Title -->
            <div class="category-title h6">
              <span>Saved schedules</span>
            </div>
            <!-- /title -->
          </div>
          <!-- /2nd tab -->
        </div>
        <!-- tab content-->
      </div>
      <!-- /sidebar tabs -->
    </div>

  </div>
</div>